<div class="text-underlined-dashed">{{ publishable.isScheduled ? (publishable.isScheduleOutdated ? "Outdated"|trans : (publishable.isPublished ? "Published"|trans : "Scheduled"|trans)) : (publishable.isPublished ? "Published"|trans : "Offline"|trans) }} </div>
<span class="status-indicator {{ publishable.isScheduled ? (publishable.isScheduleOutdated ? "" : (publishable.isPublished ? "checked" : "checked warning")) : (publishable.isPublished ? "checked" : "") }}"></span>
