{% extends '@AropixelAdmin/List/table.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/aropixeladmin/modules/jquery-ui/jquery-ui.min.js') }}"></script>

{% endblock %}

{% block header_elements %}

    {% set baseroute = get_baseroute() %}

    {% if route_exists(baseroute ~ '_index')  %}
        <a href="{{ path(baseroute ~ '_index') }}" class="btn btn-small btn-default">
            <i class="fas fa-list me-2"></i>Liste
        </a>
    {% endif %}

    {% if route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="btn btn-small btn-primary">
            <i class="fas fa-plus me-2"></i>Créer
        </a>
    {% endif %}

{% endblock %}
