{% extends '@AropixelAdmin/List/table.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    <!-- General JS Scripts -->
    <script src="{{ asset('bundles/aropixeladmin/modules/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- JS Libraies -->

{% endblock %}

{% block header_top_right %}

    {% set baseroute = get_baseroute() %}

    {% if route_exists(baseroute ~ '_index') %}
        <a href="{{ path(baseroute ~ '_index') }}" class="btn btn-small btn-default">
            <i class="fas fa-list me-2"></i> Liste
        </a>
    {% endif %}

    {% if app.request.get('_route') != baseroute ~ '_new' and route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="btn btn-small btn-primary ms-3">
            <i class="fas fa-plus me-2"></i> Créer
        </a>
    {% endif %}

{% endblock %}
