{% extends '@AropixelAdmin/base.html.twig' %}

{% block header_top_right %}

    {% set baseroute = get_baseroute() %}

    {% if route_exists(baseroute ~ '_order') %}
        <a href="{{ path(baseroute ~ '_order') }}" class="btn btn-small btn-default">
            <i class="fas fa-arrows-alt me-2"></i>{% trans %}Reorder{% endtrans %}
        </a>
    {% endif %}

    {% if route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="btn btn-small btn-primary ms-3">
            <i class="fas fa-plus me-2"></i>{% trans %}Create{% endtrans %}
        </a>
    {% endif %}

{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('notice') %}

        <div class="alert alert-success no-border alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>{{ flash_message }}</p>
        </div>

    {% endfor %}

    {% block filters %}{% endblock %}

    {% block panels %}

        <div class="card">

            <div class="table-responsive">
                {% block paneldatatable %}{% endblock %}
            </div>

        </div>

    {% endblock %}

{% endblock %}
