#offcanvasForm {
    width : 50%
}

#offcanvasForm h2 {
    font-size: 1.25rem!important;
    margin-bottom: 1.75rem!important;
    font-weight: 600!important;
}

#offcanvasForm .form-label {
    margin-bottom: 5px;
}

#offcanvasForm .offcanvas-header {
    padding-left: 20px;
}

#offcanvasForm .offcanvas-body {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}