{% if form.publishAt is defined or form.publishAt is defined %}

    <div class="tab-pane {% if form.slug is not defined and form.createdAt is not defined %}active{% endif %}" id="panel-tab-publish" role="tabpanel">

        {% if form.publishAt is defined %}
            {{ form_row(form.publishAt) }}
        {% endif %}

        {% if form.publishUntil is defined %}
            {{ form_row(form.publishUntil) }}
        {% endif %}

    </div>

{% endif %}
