<ul class="list-condensed list-unstyled no-margin">
	<li><span class="text-semibold">Taille:</span> {{ filesize }}o</li>
	<li><span class="text-semibold">Format:</span> .{{ image.getExtension() }}</li>
</ul>
