<tr class="itemNew">
    <td colspan="2"><span class="text-muted">Aucun fichier associé</span></td>
</tr>

{#
<tr class="itemNew">
    <td style="padding: 10px 0">
        <div class="row">
            <div class="col-3">
                <div class="itemFile" style="width: 120px; height: 120px; border: 2px dashed #858585; border-radius: 5px; text-align: center; line-height: 120px;">
                    PDF
                </div>
            </div>
            <div class="col-9">
                <label class="col-form-label flex-grow-1">Texte alternatif</label>
                <div class="form-widget" style="width: 100%">
                    <input type="text" value="" placeholder="" class="form-control" data-form-type="other">
                </div>

                <div class="image-actions">
                    <a class="btn btn-sm btn-icon btn-light-primary me-3 btnUpload" data-bs-toggle="modal" data-bs-target="#modalLibrary" title="Choisir une image"><i class="far fa-image"></i></a>
                    <a class="btn btn-sm btn-icon btn-light-danger me-3 btnUnlink" title="Retirer l'image"><i class="fas fa-unlink"></i></a>
                </div>

                #}
{#<div style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px">
                    <a class="btn btn-primary" style="padding: 7px 10px !important; line-height: 1 !important;">
                        Ouvrir
                    </a>
                    <a class="btn btn-danger" style="padding: 7px 10px !important; line-height: 1 !important;">
                        Supprimer
                    </a>
                </div>#}{#

            </div>
        </div>
    </td>
</tr>
#}
