{% extends 'AropixelAdminBundle:Limitless/User:layout.html.twig' %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
            <h5 class="content-group">Mot de passe oublié <small class="display-block">Réinitialiser votre mot de passe</small></h5>
        </div>

        {% if invalid_username is defined %}
            <p class="text-center"><span class="text-semibold">Email {{ invalid_username }} invalide.</span><br />Veuillez réessayer.</p>
        {% endif %}

        <div class="form-group has-feedback">
			<input type="email" class="form-control" id="username" name="username" required="required" placeholder="Votre email">
			<div class="form-control-feedback">
				<i class="icon-mail5 text-muted"></i>
			</div>
		</div>

        <button type="submit" class="btn bg-blue btn-block">Réinitialiser <i class="icon-arrow-right14 position-right"></i></button>

    </div>

</form>

{% endblock %}
