
<!-- Full width modal -->
<div id="modalFilesLibrary" class="modal fade">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans %}library.files.modal.title{% endtrans %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="row">

				<div id="library_container" class="col-md-12">
					<table id="filesLibraryDataTable" class="table" data-src="{{ path('file_ajax') }}">
						<thead>
						<tr>
							<th class="no-sort" style="width: 20px;"><input type="checkbox"></th>
							<th class="no-sort" style="width: 50px;">&nbsp;</th>
							<th>{% trans %}library.datatabler.title{% endtrans %}</th>
							<th>{% trans %}library.datatabler.date{% endtrans %}</th>
							<th>{% trans %}library.datatabler.properties{% endtrans %}</th>
							<th class="text-center no-sort" align="center"></th>
						</tr>
						</thead>
					</table>
				</div>

			</div>

			<div class="alert bg-info" style="border-radius: 0; display: none" id="alertNoImg">
				<span class="text-semibold">{% trans %}text.warning{% endtrans %} !</span> {% trans %}library.files.modal.warning_no_selection{% endtrans %}
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<div>
					<button type="button" class="btn btn-primary file-uploader" data-path="{{ path('file_upload') }}" data-category="{{ category }}" data-dataTabler="#libraryDataTable">{% trans %}library.files.modal.upload_button{% endtrans %}<i class="icon-upload position-right"></i></button>
					<ul class="progress-upload d-inline-block"></ul>
				</div>
				<div>
					<button type="button" class="btn btn-outline m-r-15" data-dismiss="modal">{% trans %}text.close{% endtrans %}</button>
					<button type="button" class="btn btn-primary attach-files">{% trans %}library.files.modal.submit{% endtrans %}</button>
				</div>
			</div>

		</div>

	</div>
</div>
<!-- /full width modal -->
