<div class="section" id="search-section">

    <ul id="sub-sections">

        {% for menu in menus %}

            <li class="sub-section">
                <div class="title">{{ menu.label }}</div>
                <ul>
                    {% for item in menu.items %}
                        {{ include('@AropixelAdmin/Menu/shortcut.html.twig', {'item' : item, 'icon': 'fas fa-shopping-cart'})  }}
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}

    </ul>

</div>

