
    <!-- Full width modal -->
	<div id="modalAttributes" class="modalAttributes modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Attributs HTML</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">

					<p>
						<strong>Renseignez les attributs HTML de votre balise image.</strong><br />
						Les attributs peuvent être utiles pour le référencement ou pour des plugins de gestions d'images (popups, filtres, ...).<br />
					</p>

					<div class="m-t-30">
						<label>Associer un lien à votre image</label>
						<input type="text" name="link" id="img_link" value="" class="form-control">
					</div>

					<div class="m-t-15">
						<label>Attribut <em>title</em> de votre balise image</label>
						<input type="text" name="title" id="img_title" value="" class="form-control">
					</div>

					<div class="m-t-15">
						<label>Attribut <em>alt</em> de votre balise image</label>
						<input type="text" name="alt" id="img_alt" value="" class="form-control">
					</div>

					<div class="m-t-15">
						<label>Attribut <em>class</em> de votre balise image</label>
						<input type="text" name="class" id="img_class" value="" class="form-control">
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary save-attributes">Valider</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /full width modal -->
