{% extends '@AropixelAdmin/base.html.twig' %}

{% block header_title %}{% trans %}text.dashboard{% endtrans %}{% endblock %}

{% block header_breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">{% trans %}text.dashboard{% endtrans %}</li>
    </ul>
{% endblock %}

{% block body -%}
{% endblock %}
