{% extends '@AropixelAdmin/base.html.twig' %}

{% block header_title %}Tableau de bord{% endblock %}

{% block header_breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Tableau de bord</li>
    </ul>
{% endblock %}

{% block body -%}
{% endblock %}
