/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

:root {
    --main-bg-color: #0CABA8;
    --main-darker-bg-color: #2e4f5e;
    --main-light-color: rgba(122, 220, 218, 0.71);
    --second-bg-color: #b91e67;
    --second-darker-bg-color: #a11455;
    --success-color: #63ceb3;
    --danger-color: #e52321;
    --warning-color: #F25C05;
    --info-color: #e39b02;
    --light-grey: #f5f8fa;
    --grey: #dde1e5;
}


body {
    font-size: 13px;
    line-height: 1.54;
    color: #333333;
    background-color: var(--light-grey);
}



.text-underlined-dashed {
    text-decoration: underline;
    text-decoration-style: dashed;
}
.cursor-pointer {
    cursor: pointer;
}


@media (min-width: 992px) and (max-width: 1169px) {

    .form-content.col-lg-9 {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }

    .form-sidebar.col-lg-3 {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

}

@media (min-width: 1170px) and (max-width: 1299px) {

    .form-content.col-lg-9 {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }

    .form-sidebar.col-lg-3 {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

}

@media (min-width: 1300px) and (max-width: 1450px) {

    .form-content.col-lg-9 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }

    .form-sidebar.col-lg-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

}



.form-label.required:after,
.form-image.required:after {
    content: " *";
    color: red;
}

.alert.alert-form {
    background-color: transparent;
    color: #de461d;
    border-bottom: 2px solid #de461d;
    border-radius: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

.main-sidebar .sidebar-menu li.menu-header {
    font-family: 'Nunito', 'Segoe UI', arial;
}
.main-sidebar .sidebar-menu li.nav-item a {
    font-weight: 500;
}

.heading-elements {
    margin: 4px 0 0;
}

.heading-elements > * {
    margin-left: 20px;
}

.heading-elements i {
    margin-left: 0 !important;
}

.heading-elements .fa-stack {
    font-size: 0.9em;
}

.heading-elements .fa-stack-1x {
    font-size: 0.9em;
}




.main-sidebar .sidebar-menu li.active a .fas,
.main-sidebar .sidebar-menu li.active a .far,
.main-sidebar .sidebar-menu li.active a .fal,
.main-sidebar .sidebar-menu li.active a .fab {
    margin-left: 8px;
}



button.fa-stack {
    background: none;
    color: var(--main-bg-color);
    font-weight: 500;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    border: 0 none;
    cursor: pointer;
    position: relative;
}
button.fa-stack .fa-stack-2x, button.fa-stack .fa-stack-1x {
    top: 0;
}

button.fa-stack.danger .fa-circle {
    color: #fc544b;
}

button.fa-stack.danger:hover .fa-circle {
    color: #fb160a !important;
}

button.fa-stack.danger .fa-stack-1x {
    color: #fff;
}




.icons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    font-size: 0;
}
.icons-list > li {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}
.icons-list > li:first-child {
    margin-left: 0;
}
.icons-list > li > a {
    color: inherit;
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}
.icons-list > li > a:hover,
.icons-list > li > a:focus {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.icons-list > li > a > i {
    top: 0;
}
.icons-list > li > a > .caret {
    margin-top: 0;
    margin-bottom: 0;
}
.icons-list-extended > li {
    margin-left: 10px;
}







.popover {
    border: 1px solid #ccc;
}

.popover .popover-header {
    font-size: 12px;
    text-transform: uppercase;
    padding: 1rem .9rem 0;
}
.popover .editable-input input {
    padding: 6px 24px 6px 15px;
    height: 36px;
}
.bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
    border-left-color: #b7b7b7;
}
/*.select-multiple {*/
/*    width: 100%;*/
/*}*/



/*.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {*/
/*    font-size: 13px;*/
/*    padding: 10px 15px;*/
/*    height: 38px;*/
/*}*/





.form-group-select2 .select2-container {
    width: 100%!important;
}
span.select2-selection__clear {
    padding: 0 5px;
}
.select2-container .select2-selection--multiple, .select2-container .select2-selection--single {
    min-height: 38px;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container .select2-search--inline .select2-search__field {
    height: 22px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: block;
    margin: 2px;
    padding-left: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline .select2-search__field {
    margin: 5px;
    padding: 0 0 0 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 1px 12px 1px 10px;
    border-radius: 2px;
    margin: 1px 0 0 7px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:first-child {
    margin-left: 0;
}
.select2-results__option {
    padding: 10px 12px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 6px;
    color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    min-height: 38px;
    line-height: 38px;
    padding-left: 12px;
    padding-right: 31px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 30px;
    min-height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #585858 transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #585858 transparent;
}


.cke_combo_button {
    padding: 3px 10px!important;
}





.radio-inline {
    position: relative;
    padding-left: 20px;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 15px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    left: 0;
    margin: 6px 0 0;
}


.form-control:disabled.pickadate, .form-control[readonly].pickadate {
    border-radius: 3px;
}
.picker__frame {
    transition: none!important;
}

.picker__box {
    border-radius: 0;
    border-color: transparent;
}
.picker__day {
    padding: 0.8125em 0;
}
.picker__table {
    font-size: 0.6em;
}
.picker__header {
    margin-bottom: 1.25em;
}
.picker__weekday {
    font-size: 1em;
    padding-bottom: 1.25em;
}
.picker__frame {
    max-width: 500px;
}
.picker__footer {
    margin-bottom: .75em;
}
.picker__nav--prev:before, .picker__nav--next:before {
    font-family: 'Ionicons';
    border: 0 none;
    width: auto;
    height: auto;
}

.picker__nav--prev:before {
    content: "\f3d2";
}
.picker__nav--next:before {
    content: "\f3d3";
}
.picker--focused .picker__day--highlighted {
    background-color: transparent;
}
.picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover {
    background-color: #ededff;
    border-radius: 2px;
}
.picker__day--highlighted {
    border-color: #e4e6fc;
}
.picker__button--clear:hover, .picker__button--close:hover, .picker__button--today:hover {
    background-color: #ededff;
    border-color: #e4e6fc;
}
.picker__button--clear, .picker__button--close, .picker__button--today {
    font-weight: 600;
    font-size: 0.7em;
}
.picker__nav--next:hover, .picker__nav--prev:hover {
    cursor: pointer;
    color: #000;
    background: none;
}
@media (min-height: 40.125em) {
    .picker__box {
        font-size: 1.33em;
    }
}
.picker--focused .picker__list-item--highlighted, .picker__list-item--highlighted:hover, .picker__list-item:hover {
    background-color: #ededff;
}
.picker__list-item--highlighted, .picker__list-item:hover {
    border-color: #e4e6fc;
}
.picker__list-item {
    padding: .65em 1.25em;
}
.picker--time .picker__box {
    font-size: .8em;
}


.picker__date-display {
    text-align: center;
    background-color: var(--main-bg-color);
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300
}

.picker__weekday-display {
    background-color: #525eb7;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px
}

.picker__month-display {
    text-transform: uppercase;
    font-size: 2rem
}

.picker__day-display {
    font-size: 4.5rem;
    font-weight: 400
}

.picker__year-display {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.4)
}

.picker__day--infocus {
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent
}

.picker__day--selected,.picker__day--selected:hover,.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: var(--main-bg-color);
    color: #ffffff;
    display: inline-block;
    padding: .75rem;
    width: 40px;
    height: 39px;
}

.picker__day--selected.picker__day--outfocus,.picker__day--selected:hover.picker__day--outfocus,.picker--focused .picker__day--selected.picker__day--outfocus {
    background-color: #aebcef
}

.picker__month,.picker__year {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em
}

.picker__select--month,.picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em;
    font-size: .7em;
    border: 1px solid #e9e9e9;
}

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 40%
}

.picker__select--year.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 26%
}

.picker__select--month:focus,.picker__select--year:focus {
    border-color: rgba(0,0,0,0.05)
}








.clockpicker-popover .popover-title {
    background-color: var(--main-bg-color);
    padding: 30px 10px;
    letter-spacing: .2;
    font-size: 2.4rem;
    font-weight: 400;
    color: rgba(255,255,255,0.4);
}
.clockpicker-plate {
    margin: 30px auto;
}
.clockpicker-popover .popover-title span.text-primary {
    color: #fff!important;
}
.clockpicker-popover .popover-footer {
    display: flex;
}
.clockpicker-popover .popover-footer button {
    flex: auto;
    text-transform: uppercase;
    margin-top: 0!important;
    padding: 15px 0;
}
button.clockpicker-clear {
    color: #444;
    font-weight: 400;
}
button.clockpicker-done {
    color: var(--main-darker-bg-color);
    font-weight: 500;
}






table.dataTable td, table.dataTable th {
    vertical-align: middle;
}

.datatable-header, .datatable-footer {
    overflow: hidden;
}
.dataTables_filter {
    position: relative;
    display: block;
    float: left;
    margin: 15px 0 5px 40px;
}
.dataTables_length {
    float: right;
    display: inline-block;
    margin: 14px 40px 0 0;
}
.dataTables_length > label > span:first-child {
    float: left;
    margin: 8px 15px;
    margin-left: 0;
}
.dataTables_filter input {
    outline: 0;
    width: 200px;
    height: 36px;
    padding: 7px 12px;
    padding-right: 36px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.dataTables_info {
    float: left;
    padding: 8px 0;
    margin: 10px 0 15px 20px;
}
.dataTables_wrapper {
    position: relative;
}
div.dataTables_wrapper div.dataTables_paginate {
    float: right;
    text-align: right;
    margin: 10px 10px 5px 20px;
}

.im-manager .card {
    margin-bottom: 0;
}

.image-widget {
    display: flex;
    width: 100%;
}

.image-widget .image-properties {
    display: flex!important;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 270px);
}

.image-widget .image-properties .section-title:first-child {
    margin-top: 0;
}

.image-widget .image-actions {
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    width: 230px;
}

.thumbnail .thumb {
    max-width: 230px;
}

.thumbnail .thumb-attach {
    height: 260px;
    display: block;
}

.thumbnail .no-img {
    text-align: center;
    border: 2px dashed #858585;
    border-radius: 5px;
}
.thumbnail .no-img [class^="icon-"] {
    color: #858585;
    font-size: 46px;
    margin-top: 105px;
}
.thumbnail .no-img [class^="fas"] {
    color: #858585;
    font-size: 52px;
    margin-top: 105px;
}

.thumbnail .card-footer {
    background-color: #fff;
    border-top: 1px solid #ededed;
}
.thumbnail .caption h6 {
    text-overflow: ellipsis;
    overflow: hidden;
}
.caption-overflow {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    visibility: hidden;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.caption-overflow span {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
    width: 100%;
    text-align: center;
}
.thumb {
    position: relative;
}
.thumb:hover > .caption-overflow {
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.caption-overflow .btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.caption-overflow .btn-flat {
    border-width: 2px;
    background-color: transparent;
}
.caption-overflow .btn-rounded {
    border-radius: 100px;
    height: 45px;
    width: 45px;
}
.caption-overflow .border-white {
    border-color: #fff;
}
.caption-overflow .ml-5 {
    margin-left: 5px!important;
}
.caption-overflow .btn:not(.btn-social):not(.btn-social-icon):hover {
    background-color: transparent;
    opacity: .8;
    border-color: #fff!important;
}
#crop_zone {
    width: 600px;
}
.thumb:not(.thumb-rounded) img {
    border-radius: 3px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

.thumb img:not(.media-preview) {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 4px solid #ddd;
}
#image_options p {
    line-height: 22px;
    font-size: 13px;
}


.modal .popover {
    z-index: 9999;
}
.modal-header.bg-danger,
.modal-header.bg-primary
{
    padding: 18px 25px 15px;
}
.modal-header.bg-danger .modal-title,
.modal-header.bg-primary .modal-title {
    color: #fff;
}
.modal-header.bg-danger .close,
.modal-header.bg-primary .close {
    color: #fff;
    opacity: 0.9;
    text-shadow: none;
}
.modal-header.bg-danger + .modal-body,
.modal-header.bg-primary + .modal-body {
    padding-top: 25px;
}


.img-preview {
    max-height: 70px;
}
.img-rounded {
    border-radius: 3px;
}



@media (min-width: 769px) {
    .modal-xs {
        width: 300px;
    }
    .modal-full {
        width: 94%;
        max-width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}


.dropdown-menu > li > a > i, .dropdown-menu > .dropdown-header > i, .dropdown-menu > li > a > img, .dropdown-menu > .dropdown-header > img {
    margin-right: 12px;
    float: left;
    margin-top: 8px;
    top: 0;
}
.dropdown-menu > li > a {
    text-decoration: none;
    cursor: pointer;
}
.dropdown-toggle + .dropdown-menu {
    border: 1px solid #dedede;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-item a {
    display: block;
}
.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown:focus, .dropdown-toggle:focus {
    outline: none;
}

.dropdown.bootstrap-select.form-control {
    padding: 0;
}

.dropdown.bootstrap-select.form-control .btn {
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #e4e6fc!important;
    font-size: 13px;
    font-weight: 400;
    box-shadow: none!important;
    height: 38px;
    padding: .2rem .8rem;
}
.dropdown.bootstrap-select.form-control .btn.btn,
.dropdown.bootstrap-select.form-control .btn.btn-light,
.dropdown.bootstrap-select.form-control .btn:hover,
.dropdown.bootstrap-select.form-control .btn.btn-light:hover {
    background-color: #fff!important;
}
.dropdown.bootstrap-select.form-control .btn.disabled,
.dropdown.bootstrap-select.form-control .btn.disabled:hover {
    background-color: #e9ecef !important;
}
.dropdown.bootstrap-select.form-control.show .btn {
    border-color: #95a0f4!important;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    /*border: 1px solid #e4e6fc;*/
}




.input-group-prepend {
    margin-left: -1px;
}
.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    box-shadow: none !important;
    line-height: initial !important;
    font-weight: 600 !important;
}

.btn-default, .btn-default.disabled {
    box-shadow: 0 1px 3px #e6ecf1;
    background-color: #fff;
    border-color: var(--main-bg-color);
    color: #495057;
}
.btn.btn-default:not(.btn-social):not(.btn-social-icon):active,
.btn.btn-default:not(.btn-social):not(.btn-social-icon):focus,
.btn.btn-default:not(.btn-social):not(.btn-social-icon):hover {
    border-color: var(--main-bg-color)!important;
}


.visual-password-indicator {
    display: inline-block;
    background-color: #999999;
    width: 40px;
    height: 4px;
}
.password-indicator-group {
    min-width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.label-indicator-absolute {
    position: relative;
}
.label-indicator-absolute .label {
    display: inline-block;
    font-weight: 700;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1px;
    border-radius: 2px;
}
.label-indicator-absolute .password-indicator-label-absolute {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.form-horizontal .label-indicator-absolute .label {
    right: 27px;
}

.invalid-feedback {
    margin-bottom: 14px;
    margin-top: 0;
    border-bottom: 2px solid #fc544b;
    padding-bottom: 1px;
    text-transform: uppercase;
    font-weight: 500;
}
.form-group.has-error .form-label {
    margin-bottom: 8px;
}

.card { color: #333333; }
.card .card-header {
    border-bottom-color: #ececec;
}
/*.card .card-title { font-family: 'Nunito', 'Segoe UI', arial; }*/
.card .card-title:before {
    content: ' ';
    border-radius: 5px;
    height: 8px;
    width: 30px;
    background-color: var(--main-bg-color);
    display: inline-block;
    float: left;
    margin-top: 11px;
    margin-right: 15px;
}
.card .card-body:first-child {
    padding-top: 25px;
}
.card .card-header h5,
.card .card-body h4,
.card .card-body h5 {
    font-size: 16px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
}
.card .card-header h5 + .card-header-action,
.card .card-header h5 + .card-header-form,
.card .card-header h6 + .card-header-action,
.card .card-header h6 + .card-header-form {
    margin-left: auto; }



.badge {
    text-transform: uppercase;
    border: 1px solid transparent;
    font-size: 10px;
    letter-spacing: 0.4px;
    line-height: 1.7;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 12px;
}
.badge-flat {
    background-color: transparent;
    border-width: 2px;
    border-radius: 0;
    padding: 1px 4px 0 4px;
}
.badge-sm {
    padding: 3px 8px;
}
.badge-icon {
    padding: 8px;
    border-radius: 2px;
    line-height: 1;
}
.badge-rounded {
    border-radius: 100px;
}
.badge-default {
    color: #fff;
    background-color: #999999;
    border-color: #999999;
}

.btn {
    font-weight: 500;
}
.btn.btn-rounded.btn-sm {
    padding: 0;
    font-size: 12px;
    width: 28px;
    height: 28px;
}
.btn.btn-rounded.btn-sm .fas,
.btn.btn-rounded.btn-sm .far,
.btn.btn-rounded.btn-sm .fal,
.btn.btn-rounded.btn-sm .fab {
    margin-right: 0;
}
.btn-flat {
    border-width: 2px;
    background-color: transparent;
}
.btn-rounded {
    border-radius: 100px;
}
.btn.btn-icon.btn-sm .ion, .btn.btn-icon.btn-sm .fas, .btn.btn-icon.btn-sm .far, .btn.btn-icon.btn-sm .fab, .btn.btn-icon.btn-sm .fal {
    font-size: 10px;
}
.btn-outline-lg {
    border-width: 2px;
}
.btn-icon.icon-left > i { margin-right: 4px; }
.btn-primary:not([href]):not([tabindex]),
.btn-danger:not([href]):not([tabindex]),
.btn-primary:not([href]):not([tabindex]):hover,
.btn-danger:not([href]):not([tabindex]):hover
{
    color: #fff;
}



.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 20px;
    line-height: 1.7;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 12px 20px;
    line-height: 1.7;
    height: auto;
}
p {
    line-height: 1.7;
}

/* ------------------------------------------------------------------------------
*
*  WYSIHTML5 editor
*
* ---------------------------------------------------------------------------- */
.wysihtml5 {
    max-height: 450px;
    resize: vertical;
    background-color: #fff;
    overflow: auto;
    padding: 20px;
    outline: 0;
}
.wysihtml5-editor {
    border-width: 0;
    padding: 0;
}
.wysihtml5-sandbox {
    width: 100%!important;
}
.bootstrap-wysihtml5-insert-link-modal .modal-dialog,
.bootstrap-wysihtml5-insert-image-modal .modal-dialog {
    width: 566px;
}
.wysihtml5-toolbar {
    margin: 0;
    padding: 15px 20px;
    padding-bottom: 0;
    display: block;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.wysihtml5-toolbar > li {
    display: inline-block;
    list-style: none;
    margin: 0 15px 15px 0;
}
.wysihtml5-toolbar .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}
.wysihtml5-toolbar .dropdown-menu .color-select > li > a:hover,
.wysihtml5-toolbar .dropdown-menu .color-select > li > a:focus {
    background-color: #f5f5f5;
    color: #333333;
}
.wysihtml5-commands-disabled .wysihtml5-toolbar .dropdown-menu {
    display: none !important;
}
.wysihtml5-toolbar .dropdown-toggle > [class*=icon-] {
    margin-right: 7px;
}
.wysihtml5-toolbar .dropdown-toggle .caret {
    margin-left: 7px;
}
.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
    font-weight: bold;
}
.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
    font-style: italic;
}
.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
    text-decoration: underline;
}
.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.wysihtml5-toolbar a.wysihtml5-colors-title {
    padding-left: 40px;
}
.wysihtml5-toolbar .wysihtml5-colors {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 10px;
    border-radius: 100px;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
    background: black !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
    background: silver !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
    background: gray !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
    background: maroon !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
    background: red !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
    background: purple !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
    background: green !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
    background: olive !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
    background: navy !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
    background: blue !important;
}
.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
    background: orange !important;
}
.wysiwyg-color-black {
    color: black;
}
.wysiwyg-color-silver {
    color: silver;
}
.wysiwyg-color-gray {
    color: gray;
}
.wysiwyg-color-white {
    color: white;
}
.wysiwyg-color-maroon {
    color: maroon;
}
.wysiwyg-color-red {
    color: red;
}
.wysiwyg-color-purple {
    color: purple;
}
.wysiwyg-color-fuchsia {
    color: fuchsia;
}
.wysiwyg-color-green {
    color: green;
}
.wysiwyg-color-lime {
    color: lime;
}
.wysiwyg-color-olive {
    color: olive;
}
.wysiwyg-color-yellow {
    color: yellow;
}
.wysiwyg-color-navy {
    color: navy;
}
.wysiwyg-color-blue {
    color: blue;
}
.wysiwyg-color-teal {
    color: teal;
}
.wysiwyg-color-aqua {
    color: aqua;
}
.wysiwyg-color-orange {
    color: orange;
}




.border-top {
    border-top: 1px solid;
}
.border-bottom {
    border-bottom: 1px solid;
}
.border-left {
    border-left: 1px solid;
}
.border-right {
    border-right: 1px solid;
}
.border-lg {
    border-width: 2px;
}
.border-top-lg {
    border-top: 2px solid;
}
.border-bottom-lg {
    border-bottom: 2px solid;
}
.border-left-lg {
    border-left: 2px solid;
}
.border-right-lg {
    border-right: 2px solid;
}
.border-xl {
    border-width: 3px;
}
.border-top-xl {
    border-top: 3px solid;
}
.border-bottom-xl {
    border-bottom: 3px solid;
}
.border-left-xl {
    border-left: 3px solid;
}
.border-right-xl {
    border-right: 3px solid;
}



.bg-teal {
    background-color: #0F8B8D;
    border-color: #0F8B8D;
    color: #fff;
}
.border-top-teal {
    border-top-color: #0F8B8D;
}

.bg-purple {
    background-color: #7B4B94;
    border-color: #7B4B94;
    color: #fff;
}
.border-top-purple {
    border-top-color: #7B4B94;
}

.bg-pink {
    background-color: #EC0868;
    border-color: #EC0868;
    color: #fff;
}
.border-top-pink {
    border-top-color: #EC0868;
}

.bg-dark-grey {
    background-color: #143642;
    border-color: #143642;
    color: #fff;
}
.border-top-dark-grey {
    border-top-color: #143642;
}

.bg-red {
    background-color: #FF4338;
    border-color: #FF4338;
    color: #fff;
}
.border-top-red {
    border-top-color: #FF4338;
}

.text-black {
    font-weight: 900;
}
.text-bold {
    font-weight: 700;
}
.text-semibold {
    font-weight: 600;
}
.text-regular {
    font-weight: 400;
}
.text-light {
    font-weight: 300;
}
.text-thin {
    font-weight: 100;
}
.text-muted {
    color: #999999 !important;
}

.multiselect-container {
    min-width: 180px;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,.15);
}
.multiselect-container>li.active {
    background: var(--main-bg-color);
}
.multiselect-container>li.active>a {
    color: #fff;
}
.multiselect-container>li>a .radio input[type="radio"],
.multiselect-container>li>a .radio-inline input[type="radio"],
.multiselect-container>li>a .checkbox input[type="checkbox"],
.multiselect-container>li>a .checkbox-inline input[type="checkbox"] {
    left: 15px;
    margin: 7px 0 0;
}

.multiselect-container > li.multiselect-group > a,
.multiselect-container > li.multiselect-group.active > a,
.multiselect-container > li.multiselect-group label,
.multiselect-container > li.multiselect-group.active label,
.multiselect-container > li.multiselect-group b,
.multiselect-container > li.multiselect-group.active b {
    display: block;
    padding: 0!important;
}
.multiselect-container > li.multiselect-group > a,
.multiselect-container > li.multiselect-group.active > a {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #191d21 !important;
    padding: 10px 20px!important;
    line-height: 20px;
    background-color: transparent;
    cursor: default;
}
.multiselect-container > li.multiselect-group > a i {
    margin-top: 3px;
}



.sp-replacer {
    margin: 0;
    border: solid 1px #dbdbdb;
    background: #f2f2f2;
    border-radius: 2px;
    padding: 5px;
}
.sp-replacer:hover, .sp-replacer.sp-active {
    border-color: #c5c5c5;
}
.sp-container {
    background-color: #fdfdfd;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.sp-picker-container {
    width: 220px;
}
.sp-hue {
    border: none;
    left: 86%;
}
.sp-color {
    border: 1px solid #c5c5c5;
    right: 19%;
}
.sp-preview {
    width: 25px;
    height: 22px;
    border: none;
    margin-right: 5px;
}
.sp-dd {
    font-size: 0;
    margin-top: 1px;
}
.sp-dd:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    font-size: 14px;
    color: #b0b0b0;
}
.sp-slider {
    height: 4px;
    left: -2px;
    right: -2px;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    border-radius: 3px;
}
.sp-cancel, .sp-choose, .sp-palette-toggle {
    border: 0;
    border-radius: .25rem;
    padding: .3rem .8rem;
    float: left;
    width: 48%;
    text-align: center;
    outline: 0;
}
.sp-cancel, .sp-choose {
    box-sizing: border-box;
    font-size: 11px;
    padding: 8px 6px;
    line-height: 1.7;
}
.sp-input {
    border: 1px solid #dedede;
    padding: 6px 10px;
    color: #333;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
}
.sp-input:focus {
    border: 1px solid #cecece;
}
.sp-button-container {
    float: none;
    clear: right;
}
.sp-container button {
    background-color: var(--main-bg-color);
    background-image: none;
    border: 1px solid var(--main-bg-color);
    border-radius: 3px;
    color: #fff;
    text-shadow: none;
    font-size: 11px;
    padding: 8px 6px;
    line-height: 1.7;
}
.sp-container button:hover {
    text-shadow: none;
    background-image: none;
    border: 1px solid #394eea;
    background-color: #394eea !important;
}

.sp-cancel {
    border: 1px solid #dedede;
    color: #333 !important;
    background-color: #ffffff;
}

.sp-cancel:hover {
    border: 1px solid #dedede;
    color: #333 !important;
    background-color: #f4f4f4;
    text-decoration: none;
}


/**  X-EDITABLE PLUGIN  **/

.editable-container.popover {
    z-index: 9999;
}
.editable-container.bs-popover-auto[x-placement^=right] .arrow::before, .editable-container.bs-popover-right .arrow::before {
    border-right-color: #cccccc;
}




.progress-upload {
    list-style: none;
    margin-right: 15px;
    margin-bottom: 0;
    vertical-align: middle;
}
.progress-upload .progress {
    height: 10px;
    margin-left: 0;
    margin-top: 4px;
}
.progress-upload .info {
    font-size: 12px;
}


.collection-item {
    margin-top: 15px;
    margin-bottom: 20px;
}

.collection-item .collection-container {
    display: flex;
}
.collection-item .collection-container .collection-commands {
    padding-top: 6px;
    border-right: 1px solid #dedede;
    padding-right: 15px;
}
.collection-item .collection-container .collection-content .collection-commands {
    padding-top: 6px;
    border-right: 0 none;
    padding-right: 0;
}
.collection-item .collection-container .collection-commands a {
    display: block;
}
.collection-item .collection-container .collection-content {
    margin-left: 25px;
    flex-grow: 1;
}
.collection-item .collection-container .collection-commands .btn-xs {
    padding: 0 0.5rem;
    font-size: 10px;
    line-height: 21px;
}
.collection-item .collection-container .collection-commands a.move {
    color: #212121;
    margin-top: 8px;
    cursor: default;
}
.collection-item .collection-container .collection-commands a.move i {
    font-size: 15px;
}





.navbar .form-inline .form-control {
    background-color: #fff;
    border-color: transparent;
    padding-left: 20px;
    padding-right: 0;
    margin-right: -6px;
    min-height: 46px;
    font-weight: 500;
    border-radius: 3px 0 0 3px;
    transition: all 1s;
}
.navbar .form-inline .form-control:focus + .btn + .search-backdrop + .search-result {
    opacity: 1;
    visibility: visible;
    top: 80px;
    max-height: 520px;
    overflow-y: scroll;
}
.navbar .form-inline .search-result {
    position: absolute;
    z-index: 9002;
    top: 100px;
    background-color: #fff;
    border-radius: 3px;
    width: 450px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.navbar .form-inline .search-result:before {
    position: absolute;
    top: -26px;
    left: 34px;
    content: '\f0d8';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-size: 30px;
}
.navbar .form-inline .search-result .search-header {
    padding: 13px 18px 2px 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 10px;
    color: #bcc1c6;
}


.form-group label {
    margin-bottom: 0.5rem;
}

select.form-control:not([size]):not([multiple]) {
    padding: 7px 12px;
    height: 36px;
    width: 50px;
}

.table:not(.table-sm) thead th {
    background-color: var(--light-grey);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid var(--grey) !important;
    border-bottom: 1px solid var(--grey) !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid var(--light-grey) !important;
    border-top: 1px solid var(--light-grey) !important;
}

p, ul:not(.list-unstyled), ol {
    line-height: 18px;
}

.page-item .page-link {
    margin: 0 10px;
    color: #fff;
    border-radius: 10px;
}

.page-item.disabled .page-link  {
    background-color: var(--light-grey);
}


/* colors */

.navbar-bg {
    background-color: var(--main-bg-color);
}

.nav-link-user .rounded-circle i {
    color: var(--main-bg-color);
}

a, a:hover, a:focus {
    color: var(--main-darker-bg-color);
}

.btn-primary, .btn-primary.disabled {
    box-shadow: 0 2px 6px var(--main-light-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus:active, .btn-primary.disabled:focus:active,
.btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled:hover {
   background-color: var(--main-darker-bg-color) !important;
   border-color: var(--main-darker-bg-color) !important;
   color: #fff !important;
}

.btn-secondary {
    background-color: var(--second-bg-color);
    border-color: var(--second-bg-color);
    color: #fff;
}

.btn-secondary:hover,  .btn-secondary:focus, .btn-secondary:active {
    background-color: var(--second-darker-bg-color) !important;
    color: #fff !important;
}

.page-item.active .page-link {
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    border-radius: 10px;
}

.page-item.disabled .page-link {
    color: var(--main-bg-color);
}

.picker__date-display {
    background-color: var(--main-bg-color);
}

.picker__weekday-display {
    background-color: var(--main-bg-color);
}

.picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover {
    background-color: #286c881c;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: var(--main-bg-color);
}

.picker__day--today:before {
    border-top: 0.5em solid var(--main-bg-color);
}

a.dropdown-item:focus, a.dropdown-item:active, a.dropdown-item.active {
    background-color: var(--main-bg-color);
    color: #fff !important;
}

a.dropdown-item:focus span, a.dropdown-item:active span, a.dropdown-item.active span {
    color: #fff !important;
}


.alert-success {
    background-color: var(--success-color) !important;
}

.card.card-primary {
    border-top: 2px solid var(--main-bg-color);
}

.form-control:focus, .input-group-text:focus, .custom-select:focus, .custom-file-label:focus {
    border-color: var(--main-bg-color);
}


.tabbable .nav-pills li {
    margin-left: 10px;
}

.btn.btn-small {
    padding: 8px 15px !important;
    box-shadow: none !important;
    line-height: initial !important;
    font-weight: 600 !important;
}

.tabbable .nav-pills .nav-item .nav-link {
    display: flex;
    align-items: center;
}

.tabbable .nav-pills .nav-item .nav-link span {
    margin-left: 5px;
}

.btn-animate-collapse span {
    margin-left: 0;
}

.tabbable.collapsed .nav-pills .nav-item .nav-link i + span,
.btn-animate-collapse i + span {
    display: inline-block;
    max-width: 0;
    white-space:nowrap;
    -webkit-transition: max-width 1s, margin-left 1s;
    transition: max-width 1s, margin-left 1s;
    overflow: hidden;
}

.tabbable.collapsed .nav-pills .nav-item .nav-link.active i + span,
.tabbable.collapsed .nav-pills .nav-item .nav-link:hover i + span,
.btn-animate-collapse.active i + span,
.btn-animate-collapse:hover i + span
{
    margin-left: 7px;
    max-width: 7rem;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: #fff;
}


.form-layout .card {
    display: flex;
    justify-content: center;
    align-items: center; }
.form-layout .card .card-body {
    max-width: 800px!important; }
.form-layout .card.card-centered-large .card-body {
    max-width: 1000px!important; }
.form-layout .card-body:first-child {
    padding-top: 60px; }
.form-layout .card-body:last-child {
    padding-bottom: 60px; }

.form-layout .card-body {
    flex: 1 1 auto;
    width: 100%;
}

.form-horizontal .form-group {
    display: flex;
    flex-wrap: wrap;
}
.form-horizontal .form-group .form-label {
    flex: 0 0 auto;
    width: 25%;
}
.form-horizontal .form-group .form-widget {
    flex: 0 0 auto;
    width: 75%;
}



#libraryDataTable tr td:first-child,
#libraryDataTable tr th:first-child {
    padding-left: 40px;
}
#libraryDataTable tr td:last-child,
#libraryDataTable tr th:last-child {
    padding-right: 40px;
}


.btn-icon-group {
    display: flex;
    justify-content: space-around;
}

.btn-icon-group i {
    font-size: 16px;
    color: var(--main-darker-bg-color);
}

.btn-icon-group .fa-trash {
    color: var(--danger-color);
}

.form-status-switch {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.form-check-input {
    float: inherit;
}

.form-switch.form-status-switch .form-check-input {
    height: 22px;
    width: 40px;
    margin-left: 15px !important;
    margin-top: 0 !important;
}

.form-switch.form-status-switch .form-check-label {
    padding: 7px 3px 0 0;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    border-color: #c0c0c0;
}
.form-switch .form-check-input:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    border-color: var(--success-color);
}


.form-check-input.scheduled:checked {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}
.form-check-input.scheduled:checked:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    border-color: var(--warning-color);
}

.form-check-input.outdated:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
.form-check-input.outdated:checked:focus {
    border-color: var(--danger-color);
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-label {
    font-weight: 500;
    color: #3f4254;
    font-size: 14px;
}

.section-entry-properties {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #a1a5b7!important;
    font-weight: 400;
    margin-top: 10px;
    line-height: 28px;
}
/*.section-entry-properties [data-bs-toggle="offcanvas"]::after {*/
/*    content: "\f35d";*/
/*    font-family: "Font Awesome 5 Free";*/
/*    font-weight: 900;*/
/*    font-size: 10px;*/
/*    color: #333;*/
/*    position: absolute;*/
/*    right: -25px;*/
/*}*/
.section-entry-properties strong {
    font-weight: 500;
    color: #181c32!important;
}
.section-entry-property::before {
    color: #a1a5b7!important;
    content: " - ";
    padding-left: 10px;
    padding-right: 10px;
}

.section-entry-property:first-child::before {
    content: "";
    padding-left: 0;
    padding-right: 0;
}

.section-entry-settings {
    background-color: #585c72!important;
    color: #fff!important;
    width: 18px;
    height: 18px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    border-radius: 50%;
    margin-left: 20px;
}

.section-header-left-image {
    position: relative;
}

.section-header-left-image img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    margin-right: 14px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
}
.section-header-left-image .editable-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 2px 2px;
}

.section .section-header .section-header-left-image + .section-header-left-content h1 {
    margin-top: 6px;
}

.section .section-header .section-header-left-image + .section-header-left-content .breadcrumb {
    margin: 13px 0 0;
}

.section-entry-property + .section-entry-status > div::before {
    color: #a1a5b7!important;
    content: " - ";
    padding-left: 15px;
    padding-right: 12px;
}

.section-entry-status .status-indicator {
    margin-left: 7px;
    height: 12px;
    width: 12px;
    background: #d0d5dc;
    border-radius: 50%;
    border: 3px solid #d0d5dc;
}

.section-entry-status .status-indicator {
    border-color: var(--danger-color);
    background: #fff;
}

.section-entry-status .status-indicator.checked {
    border-color: var(--main-bg-color);
    background: #fff;
}

.section-entry-status .status-indicator.checked.warning {
    border-color: var(--info-color);
    background: #fff;
}





#offcanvasForm {
    width : 50%
}

#offcanvasForm.showing + .offcanvas-buttons {
    right: calc(50% + 20px);
}
#offcanvasForm.show + .offcanvas-buttons {
    right: calc(50% + 20px);
}
#offcanvasForm.show.hiding + .offcanvas-buttons {
    transform: rotate(90deg);
    right: 20px;
}

#offcanvasForm h2 {
    font-size: 1.25rem!important;
    margin-bottom: 1.75rem!important;
    font-weight: 600!important;
}

#offcanvasForm .offcanvas-header {
    padding-left: 20px;
}

#offcanvasForm .offcanvas-body {
    padding-left: 50px;
    padding-right: 50px;
}

.offcanvas-buttons {
    position: fixed;
    transition: right 0.3s ease-in-out;
    right: 20px;
    top: 50%;
    z-index: 990;
    transform: rotate(90deg);
    transform-origin: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-buttons .btn,
.offcanvas-buttons .btn:hover {
    background-color: var(--main-bg-color)!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px!important;
    border: 0 none;
}

.publish-date input[name$="[date]"].scheduled,
.publish-date input[name$="[time]"].scheduled {
    background-color: #ffb16c !important;
}

.publish-date input[name$="[date]"].published,
.publish-date input[name$="[time]"].published {
    background-color: #c9ecd3 !important;
}

.publish-date input[name$="[date]"].outdated,
.publish-date input[name$="[time]"].outdated {
    background-color: #ffd1d1 !important;
}




.editable-indicator {
    background: #333;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px!important;
    font-size: 10px;
    border-radius: 50%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.editable-indicator::before {
    margin: 0 0 2px 1px;
}

.h-rule {
    display: block;
    height: 0;
    border-bottom: 1px solid #eff2f5;
}
.h-rule.h-rule-dashed {
    border-bottom-style: dashed;
    border-bottom-color: #e4e6ef;
}

body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item.active > .nav-link {
    color: var(--main-bg-color);
}

body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link:before {
    background-color: var(--main-bg-color);
}

body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link:hover {
    color: var(--main-bg-color) !important;
}

.main-sidebar .sidebar-menu li.active a, .main-sidebar .sidebar-menu li:hover a {
    color: var(--main-bg-color);
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
    background-color: var(--main-bg-color);
}

.main-content {
    padding-top: 100px;
}

.navbar-bg {
    height: 70px;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
    background-color: var(--main-bg-color);
}
