<div class="section" id="search-section">
    <ul id="sub-sections">
        <li class="sub-section">
            <div class="title">Shop</div>
            <ul>
            </ul>
        </li>
        <li class="sub-section">
            <div class="title">Contenu</div>
            <ul>
            </ul>
        </li>
        <li class="sub-section">
            <div class="title">Marketing</div>
            <ul>
            </ul>
        </li>
{#        {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#            <li class="sub-section">#}
{#                <div class="title">Super Administration</div>#}
{#                <ul>#}
{#                    {% for item in admin_menu.items %}#}
{#                        {{ include('@AropixelAdmin/Menu/shortcut.html.twig', {'item' : item, 'icon': 'fas fa-cogs'})  }}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}
    </ul>

</div>
