
    {% if form.slug is defined %}

        <div class="form-group row mb-1">
            <label class="col-sm-4 col-form-label">{% trans %}Permalink{% endtrans %}</label>
            <div class="col-sm-8 form-widget">
                {{ form_widget(form.slug) }}
            </div>
        </div>

    {% endif %}
