
    {% if form.slug is defined %}

        <div class="form-group">
            <label class="form-label">Permalien</label>
            <div class="form-widget">
                <span id="setslug" class="p-t-0" data-type="text" data-placement="left" title="Modifier le permalien">{{ form.vars.value.slug ?: '' }}</span>
                {{ form_widget(form.slug) }}
            </div>
        </div>

    {% endif %}
