
    {% if form.publishAt is defined %}

        <div class="form-group row mb-2 publish-date">
            <label class="form-label">Publier le</label>
            <div class="form-widget">
                <div class="row">
                    <div class="col-6">{{ form_widget(form.publishAt['date']) }}</div>
                    <div class="col-6">{{ form_widget(form.publishAt['time']) }}</div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if form.publishUntil is defined %}

        <div class="form-group row mb-2 publish-date">
            <label class="form-label">Jusqu'au</label>
            <div class="form-widget">
                <div class="row">
                    <div class="col-6">{{ form_widget(form.publishUntil['date']) }}</div>
                    <div class="col-6">{{ form_widget(form.publishUntil['time']) }}</div>
                </div>
            </div>
        </div>

    {% endif %}
