
    {% if form.createdAt is defined %}

        <div class="form-group row mb-2">
            <label class="form-label">Créé le</label>
            <div class="form-widget">
                <div class="row">
                    <div class="col-6">{{ form_widget(form.createdAt['date']) }}</div>
                    <div class="col-6">{{ form_widget(form.createdAt['time']) }}</div>
                </div>
            </div>
        </div>

    {% endif %}
