
    {% if form.status is defined  %}

        {% set _status = (form.vars.value.status=='online' ? 'online' : 'offline') %}

        <div class="form-switch form-status-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckDefault">Publié</label>
        </div>

        <div class="d-none">
            {{ form_widget(form.status, {'value': 'offline', 'label_attr': {'class' : 'radio-inline'}}) }}
        </div>

    {% endif %}
