
    {% if form.slug is defined %}

        <div class="form-group row mb-2">
            <label class="form-label">Permalien</label>
            <div class="form-widget">
                {{ form_widget(form.slug) }}
            </div>
        </div>

    {% endif %}
