
    {% if form.status is defined  %}

        {% set _status = (form.vars.value.status=='online' ? 'online' : 'offline') %}

        <div class="form-group">
            <label class="form-label">Publier</label>
            <div class="form-widget">
                {{ form_widget(form.status, {'value': 'offline', 'label_attr': {'class' : 'radio-inline'}}) }}
            </div>
        </div>

    {% endif %}
