<div class="text-underlined-dashed">{{ publishable.isScheduled ? "Programmé" : (publishable.isPublished ? "Publié" : "Non publié") }} </div>
<span class="status-indicator {{ publishable.isScheduled ? "checked warning" : (publishable.isPublished ? "checked" : "") }}"></span>
