<a href="{{ aropixel_file_url(file) }}" data-popup="lightbox" style="text-decoration: none; display: flex; align-items: flex-end;">
    <img class="file-type" data-src="{{ aropixel_file_url(file) }}" src="{{ icon }}" height="25" style="margin-bottom: -1px;">
    <i class="fas fa-download" style="font-size: 14px"></i>
</a>
