<a data-modal-xeditable data-type="text" data-pk="{{ file.id }}" data-inputclass="form-control" data-url="{{ path('file_title') }}" data-title="{% trans %}library.datatabler.title{% endtrans %}">{{ file.title }}</a>
