<ul class="list-condensed list-unstyled no-margin">
	<li><span class="text-semibold">{% trans %}library.datatabler.size{% endtrans %}:</span> {{ filesize }}o</li>
	<li><span class="text-semibold">{% trans %}library.datatabler.format{% endtrans %}:</span> .{{ image.getExtension() }}</li>
</ul>
